.checkbox-wrap {
  display: flex;
  padding: var(--half-gap) var(--gap);
  font-size: var(--font-size-sm);
  line-height: 20px;
  cursor: pointer;
}

.checkbox-wrap:hover {
  background-color: var(--light-blue);
}

.checkbox {
  -webkit-appearance: none;
  width: var(--gap);
  height: var(--gap);
  margin-right: var(--half-gap);
  border: 1px solid var(--blue);
  border-radius: var(--radius-xs);
}

.checkbox:checked {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNNC4yODU3MSA4TDAgNC4xNjEyM0wxLjIwODU3IDMuMDc4N0w0LjI4NTcxIDUuODI3MjZMMTAuNzkxNCAwTDEyIDEuMDkwMjFMNC4yODU3MSA4WiIgZmlsbD0iIzIxOTZGMyIvPgogICAgPC9zdmc+');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--color-primary);
}
