.filters__wrapper {
  display: flex;
  padding: var(--gap);
  background-color: var(--white);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
}

.filters__title {
  font-size: var(--font-size-xs);
  line-height: 12px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: var(--gap);
}
