.tab {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--gray);
  cursor: pointer;
}

.tab:first-child {
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
}

.tab:last-child {
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
}

.tab_active {
  color: var(--white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
