:root,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: #fff;
  --light-gray: #e5e5e5;
  --gray: #dfe5ec;
  --dark-gray: #4a4a4a;
  --gray-blue: #a0b0b9;
  --blue: #f1fcff;
  --dark-blue: #2196f3;
  --color-primary: var(--dark-blue);
  --color-secondary: var(--dray);
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 24px;
  --font-size-base: var(--font-size-sm);
  --font-bold: 600;
  --font-normal: 400;
  --font-body: "Open sans", sans-serif;
  --radius-xs: 2px;
  --radius-sm: 5px;
  --shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  --gap: 20px;
  --half-gap: calc(var(--gap) / 2);
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--light-gray);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
