.ticket {
  --padding-left: calc(2.5 * var(--gap));

  padding: var(--gap) var(--padding-left) var(--gap) var(--gap);
  background-color: var(--white);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  margin-bottom: var(--gap);
}

.ticket__header {
  display: flex;
  align-items: center;
}

.ticket__price {
  margin-right: auto;
  font-size: var(--font-size-lg);
  line-height: 24px;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

.ticket__carrier-img {
  margin-left: auto;
}

.ticket__title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: var(--font-size-lg);
  margin-bottom: var(--gap);
}

.ticket__cell {
  text-transform: uppercase;
  font-weight: var(--font-normal);
}

.ticket__cell-title {
  font-size: var(--font-size-xs);
  line-height: 18px;
  color: var(--gray-blue);
}

.ticket__cell-content {
  font-size: var(--font-size-md);
  line-height: 21px;
  color: var(--dark-gray);
}
